<div id="pl-main-view" fxLayout="column"  fxFill="">
    <mat-sidenav-container id="pl-drawer-container" fxFill>

      <mat-sidenav #drawerLeft mode="side" opened="{{sharedToolbar.showLeft}}" class="pl-drawer">
        <div id="content">
          <app-resource-type></app-resource-type>
        </div>
      </mat-sidenav>

      <mat-sidenav #drawerRight mode="side" position="end" class="pl-drawer" opened="{{sharedToolbar.showRight}}">
        <div id="contentRight">
          <app-resource-duration></app-resource-duration>
        </div>
      </mat-sidenav>

      <mat-sidenav-content id="pl-content">
        <pl-main-calendar [calendarWeek]="calWeek" [calendarYear]="calYear" fxFill=""></pl-main-calendar>
      </mat-sidenav-content>
    </mat-sidenav-container>

</div>
