<form (submit)="addEmployee(id.value,name.value,age.value,skills.value)" >
  <label>Mitarbeiter hinzufügen</label>
  <div class="form-group">
    <input type="number" placeholder="id" #id>
    <input type="text" placeholder="Name" #name>
    <input type="number" placeholder="Age" #age>
    <input type="text" placeholder="skills" #skills>
  </div>
  <button type="submit" >Add Employee</button>
</form>

<!--<form (submit)="addVehicle(id.value,name.value,size.value,modell.value)" >-->
  <!--<label>Mitarbeiter hinzufügen</label>-->
  <!--<div class="form-group">-->
    <!--<input type="number" placeholder="Id" #id>-->
    <!--<input type="text" placeholder="Name" #name>-->
    <!--<input type="text" placeholder="Size" #size>-->
    <!--<input type="text" placeholder="Modell" #modell>-->
  <!--</div>-->
  <!--<button type="submit" >Add Employee</button>-->
<!--</form>-->
