<h3>Mitarbeiter hinzufügen</h3>
<form (submit)="addEmployee(firstName.value,lastName.value,age.value,skills.value)" >
  <div class="form-group">
    <input type="text" placeholder="firstName" #firstName>
    <input type="text" placeholder="lastName" #lastName>
    <input type="number" placeholder="Age" #age>
    <input type="text" placeholder="skills" #skills>
  </div>
  <button type="submit" >Hinzufügen</button>
</form>

<h3>Fahrzeug hinzufügen</h3>
<form (submit)="addVehicle(fahrzeugBezeichnung.value, size.value, modell.value)" >
  <div class="form-group">
    <input type="text" placeholder="Bezeichnung" #fahrzeugBezeichnung>
    <input type="text" placeholder="Size" #size>
    <input type="text" placeholder="Modell" #modell>
  </div>
  <button type="submit" >Hinzufügen</button>
</form>

<h3>Betriebsmittel hinzufügen</h3>
<form (submit)="addMaterial(betriebsmittelBezeichnung.value,description.value,location.value)" >
  <div class="form-group">
    <input type="text" placeholder="Bezeichnung" #betriebsmittelBezeichnung>
    <input type="text" placeholder="description" #description>
    <input type="text" placeholder="location" #location>
  </div>
  <button type="submit" >Hinzufügen</button>
</form>


<h3>Baustelle hinzufügen</h3>
<form *ngIf="constructionLadders?.length > 0" (ngSubmit)="addConstruction(formContent)">

      <input name="name" matInput placeholder="name"  [(ngModel)]="formContent.name" required>
      <input name="strasse" matInput placeholder="Strasse" [(ngModel)]="formContent.strasse" required>
      <input name="ort" matInput placeholder="Ort" [(ngModel)]="formContent.ort" required>
      <input name="plz" matInput placeholder="Postleitzahl" [(ngModel)]="formContent.plz" required>

      <mat-form-field>
        <input matInput [matDatepicker]="pickerStart" placeholder="startdate" name="startDate">
        <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
        <mat-datepicker #pickerStart  [(ngModel)]="startDate" ngDefaultControl (selectedChanged)="onStartDate($event)" name="pickerStart"></mat-datepicker>
      </mat-form-field>

      <mat-form-field>
        <input matInput [matDatepicker]="pickerEnd" placeholder="endDate" name="endDate" >
        <mat-datepicker-toggle matSuffix [for]="pickerEnd" ></mat-datepicker-toggle>
        <mat-datepicker #pickerEnd [(ngModel)]="endDate" ngDefaultControl (selectedChanged)="onEndDate($event)"  name="pickerEnd"></mat-datepicker>
      </mat-form-field>


      <select  name="bauleiter" [(ngModel)]="selectedBauleiter" [ngModelOptions]="{standalone: true}">
      <option value="" disabled selected>>Wähle einen Mitarbeiter</option>
      <option *ngFor="let ladder of constructionLadders" [ngValue]="ladder">{{ladder.firstName.concat(" ", ladder.lastName)}}</option>
      </select>

      <select name="kunde" [(ngModel)]="selectedCustomer" [ngModelOptions]="{standalone: true}">
        <option  value="" disabled selected>>Wähle einen Kunden aus</option>
        <option *ngFor="let customer of customers" [ngValue]="customer">{{customer.firstName.concat(" ", customer.lastName)}}</option>
      </select>

      <select  [(ngModel)]="selectedState" id="selectedState" name="form" >
        <option value="" disabled selected>>Wähle einen Zustand aus></option>
        <option *ngFor="let prog of states" [value]="prog" >{{prog}}</option>
      </select>

  <!--
      <select name="mitarbeiter" [(ngModel)]="selectedMitarbeiter" [ngModelOptions]="{standalone: true}">
        <option value="" disabled selected>>Wähle Bauleiter</option>
        <option *ngFor="let employee of employees" [ngValue]="employee">{{employee.firstName.concat(" ", employee.lastName)}}</option>
      </select>

      <select name="fahrzeug" [(ngModel)]="selectedFahrzeug" [ngModelOptions]="{standalone: true}">
        <option value="" disabled selected>>Wähle ein Fahrzeug</option>
        <option *ngFor="let vehicle of vehicles" [ngValue]="vehicle">{{vehicle.bezeichnung}}</option>
      </select>

      <select name="betriebsmittel" [(ngModel)]="selectedBetriebsmittel" [ngModelOptions]="{standalone: true}">
        <option value="" disabled selected>>Wähle ein Betriebsmittel</option>
        <option *ngFor="let material of materials" [ngValue]="material">{{material.bezeichnung}}</option>
      </select>
      -->
      <input type="submit"  value="Submit Form">
</form>
<p style="color:red" *ngIf="!constructionLadders?.length > 0">Anlegen einer Baustelle ist nicht möglich, weil kein Bauleiter angelegt ist!</p>


<h3> Bauleiter hinzufügen</h3>
<form (submit)="addConstructionLadder(constructionLadderFirstName.value, constructionLadderLastName.value)" >
  <div class="form-group">
    <input type="text" placeholder="Vorname" #constructionLadderFirstName>
    <input type="text" placeholder="Nachname" #constructionLadderLastName>
  </div>
  <button type="submit" >Hinzufügen</button>
</form>

<h3> Kunde hinzufügen</h3>
<form (submit)="addCustomer(customerFirstName.value, customerLastName.value,
                            customerStreet.value, customerHouseNumber.value,
                            customerPostalCode.value, customerCity.value,
                            customerEmail.value, customerPhoneNumber.value, customerMobilePhone.value)">

  <div class="form-group">
    <input type="text" placeholder="Vorname" #customerFirstName>
    <input type="text" placeholder="Nachname" #customerLastName>
    <input type="text" placeholder="Straße" #customerStreet>
    <input type="number" placeholder="Hausnummer" #customerHouseNumber>
    <input type="number" placeholder="PLZ" #customerPostalCode>
    <input type="text" placeholder="Stadt" #customerCity>
    <input type="text" placeholder="Email" #customerEmail>
    <input type="number" placeholder="Telefon" #customerPhoneNumber>
    <input type="number" placeholder="Mobiltelefon" #customerMobilePhone>
  </div>
  <button type="submit">Hinzufügen</button>
</form>

<div>
  <p>Baustelle</p>
  <p *ngFor='let construct of constructions'>Name: {{construct.name}},
    <br> Startdatum: {{construct.startDate}}, Enddatum: {{construct.endDate}}
    <br> Bauleiter: {{construct.bauleiter | json}}, {{construct.permanent}}
    <!--
    <br> Mitarbeiter: {{construct.employees | json}}
    <br> Fahrzeuge: {{construct.vehicles | json}}
    <br> Betriebsmittel: {{construct.materials | json}}</p>
    -->
</div>
<div>
  <p>Bauleiter</p>
  <p *ngFor='let constructionLadder of constructionLadders'>Vorname: {{constructionLadder.firstName}} Nachname: {{constructionLadder.lastName}}</p>
</div>

<div>
  <p>Kunde</p>
  <p *ngFor='let customer of customers'>Vorname: {{customer.firstName}} Nachname: {{customer.lastName}}</p>
</div>

