<mat-card id="pl-calender-construction-area-card" droppable [dropScope]="['mitarbeiter','fahrzeuge', 'betriebsmittel']" (onDrop)="onDropItem($event)">
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title >{{constructionArea.name}}</mat-card-title>
    </mat-card-title-group>
    <div fxFlex></div>
    <mat-icon fxFlex (click) ="openDetailDialog()" style="font-size: 85%;">open_in_new</mat-icon>
  </mat-card-header>
  <mat-card-content>
  <mat-card-subtitle>Mitarbeiter</mat-card-subtitle>

      <div class ="area-section-content" *ngFor="let empl of constructionAreaDay.employeeList" draggable [dragScope]="'mitarbeiter'" [dragData]="empl">
        <div fxLayout="row" fxLayoutAlign="space-evenly start">
            {{empl.firstName}} {{empl.lastName}}
          <mat-icon fxFlex (click)="removeEmployee(constructionArea, empl)" style="font-size: 85%;">clear</mat-icon>
          <mat-icon fxFlex (click)="testCalcTime(empl)" style="font-size: 85%;">alarm</mat-icon>
        </div>
      </div>
    <mat-card-subtitle>Fahrzeuge</mat-card-subtitle>
    <div class="area-section-content" *ngFor="let car of constructionAreaDay.vehicleList"  draggable [dragScope]="'fahrzeuge'" [dragData]="car">

      {{car.bezeichnung}}
      <mat-icon (click)="removeCar(constructionArea, car)" style="font-size: 85%;">clear</mat-icon>
      <!--<mat-icon (click)="testCalcTime(car)" style="font-size: 85%;">alarm</mat-icon>-->
    </div>
    <mat-card-subtitle>Betriebsmittel</mat-card-subtitle>
    <div class ="area-section-content" *ngFor="let material of constructionAreaDay.materialList" draggable [dragScope]="'betriebsmittel'" [dragData]="material">
      {{material.bezeichnung}}
      <mat-icon (click)="removeMaterial(constructionArea, material)" style="font-size: 85%;">clear</mat-icon>
      <!--<mat-icon (click)="testCalcTime(material)" style="font-size: 85%;">alarm</mat-icon>-->
      </div>

  </mat-card-content>
</mat-card>
