<mat-card>
<mat-grid-list cols="7" rowHeight="50px">
    <mat-grid-tile [style.border-right]="'1px solid '"><mat-card>Bauleiter 1</mat-card> </mat-grid-tile>  
    <mat-grid-tile [style.border-right]="'1px solid '">Baustelle 1 </mat-grid-tile>
        <mat-grid-tile [style.border-right]="'1px solid '">Baustelle 2</mat-grid-tile>
        <mat-grid-tile [style.border-right]="'1px solid '">Baustelle 3 </mat-grid-tile>
        <mat-grid-tile [style.border-right]="'1px solid '">Baustelle 4 </mat-grid-tile>
        <mat-grid-tile [style.border-right]="'1px solid '">Baustelle 5 </mat-grid-tile>
        <mat-grid-tile >Baustelle 6 </mat-grid-tile>        
</mat-grid-list>
<mat-grid-list cols="7" rowHeight="50px">
    <mat-grid-tile [style.border-right]="'1px solid '">Bauleiter 2 </mat-grid-tile>  
    <mat-grid-tile [style.border-right]="'1px solid '">Baustelle 1 </mat-grid-tile>
        <mat-grid-tile [style.border-right]="'1px solid '">Baustelle 2</mat-grid-tile>
        <mat-grid-tile [style.border-right]="'1px solid '">Baustelle 3 </mat-grid-tile>
        <mat-grid-tile [style.border-right]="'1px solid '">Baustelle 4 </mat-grid-tile>
        <mat-grid-tile [style.border-right]="'1px solid '">Baustelle 5 </mat-grid-tile>
        <mat-grid-tile >Baustelle 6 </mat-grid-tile>        
</mat-grid-list>
<mat-grid-list cols="7" rowHeight="50px">
    <mat-grid-tile [style.border-right]="'1px solid '">Bauleiter 3 </mat-grid-tile>  
    <mat-grid-tile [style.border-right]="'1px solid '">Baustelle 1 </mat-grid-tile>
        <mat-grid-tile [style.border-right]="'1px solid '">Baustelle 2</mat-grid-tile>
        <mat-grid-tile [style.border-right]="'1px solid '" >Baustelle 3 </mat-grid-tile>
        <mat-grid-tile [style.border-right]="'1px solid '">Baustelle 4 </mat-grid-tile>
        <mat-grid-tile [style.border-right]="'1px solid '">Baustelle 5 </mat-grid-tile>
        <mat-grid-tile >Baustelle 6 </mat-grid-tile>        
</mat-grid-list>
</mat-card>