
<div *ngFor ="let cManager of constructionManagers" >
  <mat-grid-list cols ="7" rowHeight="2:2">
    <mat-grid-tile style="border-bottom: 2px solid">
      {{cManager.firstName}}  {{cManager.lastName}}
    </mat-grid-tile> 
    <mat-grid-tile *ngFor="let dayPlan of cManager.constructionPlans" style = " border-right: 2px solid">
      <div *ngIf="hasPlanForToday(dayPlan); else elsePath1">
        <b>{{dayPlan.projectName}}</b><br/>
        Mitarbeiter: <br/>
        <span *ngFor="let empl of dayPlan.coWorkers"> 
          {{empl.firstName}} {{empl.lastName}}
        </span>
        <span *ngIf="dayPlan.hasMaterials()">
            Material: <br/>
          <span *ngFor="let material of dayPlan.materials">
            {{material}}<br/>
          </span>
        </span>
        <span *ngIf="dayPlan.hasVehicles()">
            Fahrzeuge: <br/>
          <span *ngFor="let vehicel of dayPlan.vehicles">
            {{vehicel.modell}}<br/>
          </span>
        </span>
      </div>
      <ng-template #elsePath1 >
       <div style="margin-left: 5px;">Keinen Auftrag heute.</div> 
      </ng-template>
    </mat-grid-tile>
  
  </mat-grid-list>
</div>