<div fxLayout="column" fxFlex="" style="padding: 5px;">
  <mat-grid-list fxFlex cols="3" rowHeight="6:4">
    <mat-grid-tile *ngFor="let fileInfo of constructionArea.images">
      <div fxLayout="column"
           fxLayoutAlign="space-between center">
        <a href="/api/constructionArea/image/{{fileInfo.id}}" target="_blank">
          <img width="300px"
               src="/api/constructionArea/image/{{fileInfo.id}}"/>
        </a>
        <div fxLayout="row" fxLayoutAlign="space-between center">
          <p style="font-size: 85%;">{{fileInfo.date}}</p>
          <mat-icon (click)="removeImage(fileInfo)" >clear</mat-icon>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
  <div fxLayout="row" fxLayoutAlign="end center">
    <form [formGroup]="formGroup" novalidate (ngSubmit)="onSubmit()">
      <input type="file" name="file" (change)="onFileChange($event)"/>
      <button mat-raised-button color="primary" type="submit" [disabled]="formGroup.invalid">Upload</button>
    </form>
  </div>
</div>
