<mat-list>
      <mat-card class="ress-type-card" droppable [dropScope]="'mitarbeiter'" (onDrop)="onDropMitarbeiter($event)" >
          <mat-card-title>Mitarbeiter</mat-card-title>
            <mat-card-content>
              <mat-list>
                <mat-list-item *ngFor='let employee of employeeList' draggable [dragScope]="'mitarbeiter'" [dragData]="employee">{{employee.firstName}} {{employee.lastName}}</mat-list-item>
              </mat-list>
            </mat-card-content>
      </mat-card>
      <mat-card class="ress-type-card" droppable  [dropScope]="'fahrzeuge'" (onDrop)="onDropFahrzeug($event)" >
        <mat-card-title>Fahrzeuge</mat-card-title>
          <mat-card-content>
            <mat-list-item *ngFor='let vehicle of vehicleList' draggable [dragScope]="'fahrzeuge'" [dragData]="vehicle">{{vehicle.bezeichnung}}</mat-list-item>
        </mat-card-content>
      </mat-card>
      <mat-card class="ress-type-card" droppable  [dropScope]="'betriebsmittel'" (onDrop)="onDropBetriebsmittel($event)" >
        <mat-card-content>
          <mat-card-title>Betriebsmittel</mat-card-title>
          <mat-list>
            <mat-list-item *ngFor='let material of materialList'  draggable [dragScope]="'betriebsmittel'" [dragData]="material">{{material.bezeichnung}}</mat-list-item>
          </mat-list>
        </mat-card-content>
        </mat-card>
</mat-list>
