
<div fxLayout="row" fxLayoutAlign="space-around">
  <div fxFlex="33%">
    <img width="300" src="http://www.4freephotos.com/ger/medium/2015/Wood-sculpting-tools-5785.jpg">
  </div>
<div fxFlex="33%">
  <ul style="list-style-type:none">   
      <li>Max Mustermann Straße t.b.d </li>
      <li>99999  Musterstadt</li>
      <li>ProjektZeitraum: {{constructionArea.startDate}} - {{constructionArea.endDate}}</li>
    </ul>
  </div>
  <div fxFlex="33%">
    <ul style="list-style-type:none">
      <li>Bauleiter: {{constructionArea.bauleiter.firstName}} {{constructionArea.bauleiter.lastName}} </li>
      <li>Mitarbeiter :Sane, Wagner, Tah, Petersen</li>
      <li>Fahrzeuge: VW Touran, Ford Mustang</li>
      <li>Betriebsmittel: Pinsel, Tapeten</li>
    </ul>
  </div>
</div>
