
<div fxLayout="row" fxLayoutAlign="space-around">
  <div fxFlex="20%">
    <img width ="100%"src="http://www.4freephotos.com/ger/medium/2015/Wood-sculpting-tools-5785.jpg">
  </div>
<div fxFlex="40%">
  <ul style="list-style-type:none">
      <li>{{constructionArea.name}}</li>
      <li>{{constructionArea.strasse}}</li>
      <li>{{constructionArea.plz}} {{constructionArea.ort}}</li>
      <li>ProjektZeitraum: {{this.getProjectTime()}}</li>
    </ul>
  </div>
  <div fxFlex="40%">
    <ul style="list-style-type:none">
      <li>Bauleiter: {{constructionArea.bauleiter.firstName}} {{constructionArea.bauleiter.lastName}} </li>
      <li>Mitarbeiter :Sane, Wagner, Tah, Petersen</li>
      <li>Fahrzeuge: VW Touran, Ford Mustang</li>
      <li>Betriebsmittel: Pinsel, Tapeten</li>
    </ul>
  </div>
</div>
