
<div fxLayout="row" fxLayoutAlign="space-around">
  <div>
    <img width ="250px" src="http://www.4freephotos.com/ger/medium/2015/Wood-sculpting-tools-5785.jpg">
  </div>
<div>
  <ul style="list-style-type:none">
      <li>{{constructionArea.name}}</li>
      <li>{{constructionArea.strasse}}</li>
      <li>{{constructionArea.plz}} {{constructionArea.ort}}</li>
      <li>Projektzeitraum: {{this.getProjectTime()}}</li>
    </ul>
  </div>
  <div fxFlex="40%">
    <ul style="list-style-type:none">
      <li>Bauleiter: {{constructionArea.bauleiter.firstName}} {{constructionArea.bauleiter.lastName}} </li>
      <li>Mitarbeiter:
        <span *ngIf="this.hasEmployeeUsage(); else NoEmplUsed ">
          <span *ngFor="let empl of this.getUsedEmployees(); let i = index">
            {{empl.lastName}} <span *ngIf="i != this.getUsedEmployees().length-1">, </span>
          </span>
        </span>
      </li>
      <li>Fahrzeuge:
        <span *ngIf="this.hasVehicleUsage(); else NoVehicleUsed">
          <span *ngFor="let car of this.getUsedVehicles(); let i = index">
                {{car.bezeichnung}} <span *ngIf="i != this.getUsedVehicles().length-1">, </span>
          </span>
        </span>
      </li>
      <li>Betriebsmittel:
        <span *ngIf="this.hasMaterialUsage(); else NoMatUsed ">
          <span *ngFor="let mat of this.getUsedMaterials(); let i = index">
            {{mat.bezeichnung}} <span *ngIf="i != this.getUsedMaterials().length-1">, </span>
          </span>
        </span>
      </li>
    </ul>
  </div>
  <ng-template #NoEmplUsed>
  Keine Mitarbeiter zugeordnet.
  </ng-template>
  <ng-template #NoVehicleUsed>
      Keine Fahrzeuge zugeordnet.
  </ng-template>
  <ng-template #NoMatUsed>
      Keine Betriebsmittel zugeordnet.
  </ng-template>
</div>
