<h3>Verfügbare Ressourcen</h3>
<mat-divider></mat-divider>

<!--<form (submit)="addResourceType(typeName.value,resName.value)">-->
  <!--<div class="form-group">-->
    <!--<label for="typeName">Ressourcen Gruppe</label>-->
    <!--<input type="text" class="form-control" id="typeName"#typeName>-->
  <!--</div>-->

  <!--<div class="form-group">-->
    <!--<label for="Ressource">Ressource</label>-->
    <!--<input type="text" class="form-control" id="Ressource" #resName>-->
  <!--</div>-->
  <!--<button type="submit" class="btn btn-success">Submit</button>-->
<!--</form>-->


<span style="width:2px;"></span>
<div class = borderOutside>
  <h3 >Mitarbeiter</h3>
    <app-resource [employeeList]="employees">
    </app-resource>
  <h3 >Fahrzeuge</h3>
  <app-resource [vehicleList]="vehicles">
  </app-resource>
  <h3 >Betriebsmittel</h3>
  <app-resource [materialList]="materials">
  </app-resource>
  <span style="width:2px;"></span>
  <mat-divider></mat-divider>
</div>

