

<h4>Kontaktinformationen</h4>

  <h5>Bauherr:</h5>
  <mat-list-item>
    {{constructionArea.customer.firstName + ' ' + constructionArea.customer.lastName}}
  </mat-list-item>
  <h5> Adresse:</h5>
  <mat-list-item>Straße: {{constructionArea.customer.street + ' ' + constructionArea.customer.houseNumber}}</mat-list-item>
  <mat-list-item>Ort: {{constructionArea.customer.postalCode + ' ' + constructionArea.customer.city}}</mat-list-item>
  <h5>Kontaktdaten:</h5>
  <mat-list-item>Telefon: {{constructionArea.customer.phoneNumber}}</mat-list-item>
  <mat-list-item>Mobile: {{constructionArea.customer.mobilePhone}}</mat-list-item>
  <mat-list-item>Mail: {{constructionArea.customer.email}}</mat-list-item>

