

<div fxFill fxLayout="column" fxLayoutAlign="space-between stretch">
  <!-- TOP Component:  Basis Infos -->

    <pl-base-information [constructionArea]="data.constructionArea"></pl-base-information>

  <hr>
  <!-- Bottom Component:  Info / Fotos / Anhänge -->
  <div fxFill>
    <mat-tab-group>
      <mat-tab label="Infos">
        <div fxLayout="row"fxLayoutAlign="space-around center" >
          <!-- Hier jeweils eine komponente als eine spalte einfügen -->
          <p>Bauabschnitte</p>
          <!-- Bauherr / Kundeninformationen -->
          <pl-detail-dialog-info [constructionArea]="data.constructionArea"></pl-detail-dialog-info>
        </div>
      </mat-tab>
      <mat-tab label="Anhänge">
        <div fxLayout="column" fxLayoutAlign="space-between center">
          <!-- Hier jeweils eine komponente als eine Zeile einfügen -->
          <p>Upload 1</p>
          <p>Upload 2</p>
        </div>
      </mat-tab>
      <mat-tab label="Fotos">
        <div fxLayout="row" fxLayoutAlign="space-around center" >
          <!-- Hier jeweils eine komponente als eine spalte einfügen -->
          <p>Foto1</p>
          <p>Foto 2</p>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
