

<div fxFill fxLayout="column" fxLayoutAlign="space-between stretch">
  <!-- TOP Component:  Basis Infos -->

    <pl-base-information [constructionArea]="data.constructionArea"></pl-base-information>

  <hr>
  <!-- Bottom Component:  Info / Fotos / Anhänge -->
  <div fxFill>
    <mat-tab-group>
      <mat-tab label="Infos">
        <div fxLayout="row" fxLayoutAlign="space-between center" >
          <!-- Hier jeweils eine komponente als eine spalte einfügen -->
          <div fxLayout="column" fxLayoutAlign="space-around stretch">
            <!-- Fortschritt -->
            <p>dummy fortschritt</p>
            <!-- Kommentare -->
            <p>dummy kommentare</p>
            <!-- Anhänge -->
            <pl-detail-dialog-files [constructionArea]="data.constructionArea"></pl-detail-dialog-files>
          </div>
          <!-- Bauherr / Kundeninformationen -->
          <pl-detail-dialog-info [constructionArea]="data.constructionArea"></pl-detail-dialog-info>
        </div>
      </mat-tab>
      <mat-tab label="Fotos" >
          <pl-detail-dialog-images [constructionArea]="data.constructionArea" ></pl-detail-dialog-images>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
