<?xml version="1.0" encoding="UTF-8"?>
<!-- This web.xml file is not required when using Servlet 3.0 container,
     see implementation details http://jersey.java.net/nonav/documentation/latest/jax-rs.html -->
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    
    <!-- Main Listener-->
    <listener>
        <listener-class>de.amos.mamb.apps.Planungstafel</listener-class>
    </listener>

    <!-- Jersey Rest Servlets -->
    <servlet>
        <servlet-name>Jersey Web Application</servlet-name>
        <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>jersey.config.server.provider.packages</param-name>
            <param-value>de.amos.mamb.rest</param-value>
        </init-param>
        <init-param>
            <param-name>jersey.config.server.provider.classnames</param-name>
            <param-value>org.glassfish.jersey.media.multipart.MultiPartFeature</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Jersey Web Application</servlet-name>
        <url-pattern>/api/*</url-pattern>
    </servlet-mapping>
    
    <!-- Routing -->
    <servlet>
        <servlet-name>Router</servlet-name>
        <servlet-class>de.amos.mamb.apps.RoutingServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Router</servlet-name>
        <url-pattern>/app</url-pattern>
        <url-pattern>/app/*</url-pattern>
        <url-pattern>/register</url-pattern>
        <url-pattern>/login</url-pattern>
        <url-pattern>/employee</url-pattern>
        <url-pattern>/resource</url-pattern>
        <url-pattern>/vehicle</url-pattern>
        <url-pattern>/material</url-pattern>
        <url-pattern>/constructionArea</url-pattern>
        <url-pattern>/constructionLadder</url-pattern>
    </servlet-mapping>

    <!-- Objectify -->
    <filter>
        <filter-name>ObjectifyFilter</filter-name>
        <filter-class>com.googlecode.objectify.ObjectifyFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ObjectifyFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

</web-app>
