<mat-toolbar color="primary">
  <span>{{title}}</span>
  <span class="fill-space"> </span>
  <form>
    <div class="form-group">
      <label for="userName">Benutzer:</label>
      <input type="text" class="form-control" id="userName" #userName>
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="text" class="form-control" id="password" #userPassword>
    </div>
  </form>
  <button mat-button routerLink="/app">Login</button>
  <button  mat-button routerLink="/register"> Registrieren</button>
</mat-toolbar>
